@import "nes.css/css/nes.min.css";
@import "tailwindcss";

:root {
  font-family: 'Press Start 2P', cursive;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #110015;
  color: white;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}